# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



# Flask stuff
venv
/venv
**/venv/**
**/venv
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
*.dylib

# IDE Stuff

.idea/
.vscode/
*.iml
*.ipr
*.iws
*.sublime-workspace
*.sublime-project
*.swp
*.swo
.idea/**/*
instance
*.db
*.sqlite

# output

*.out
*.txt
*.csv
*.Identifier
out


# nextjs

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

predictions
predictions/**